@charset "UTF-8";

h1 {
    font-size: 2.5em;
}

ul {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: blue;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a::after {
    content: "[Link]";
}

a::before {
    content: "clica";
}

.especial:hover{
    background-color: black;
    color: white;
}