@charset "utf-8";

body {
    background-image: url('imagens/wallpaper001.jpg');
}

div.quadrado {
    display: inline-block;
    
}

#primeira {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 15px;
}



#segunda {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to bottom, yellow, orange, red);
    border: 2px solid black;
    border-radius: 15px;
}

#terceira {
    width: 200px;
    height: 200px;
    background-image: url('imagens/pattern003.png');
    border: 2px solid black;
    border-radius: 15px;

}