@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

header {
    height: 200px;
}

header div {
    align-items: center;
}


section {
    display: flex;
    background-color: grey;
    width: 500px;

    margin: auto;
    justify-content: center;
}