
    

body {
    

}

.joaninha{
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}

.livrinho {
    
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}
header {
    background-color: black;
    color: #fff;
    height: 170px;
    text-align: center;
    
}

header h1 {
    padding-top: 50px;
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    text-decoration: underline;
}




p {
    color: white;
    background-color: #ffffff52;
    padding: 20px;
    margin: 10px;
}