* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    height: 170px;
    text-align: center;
    
}

header h1 {
    padding-top: 50px;
    margin
}

header a {
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
}

header a:hover {
    text-decoration: underline;
}