* {
    margin: 0;
    padding: 0;
}

body {
    background: url('imagens/background001.jpg') center center no; 
}

header {
    background-color: black;
    color: #fff;
    height: 170px;
    text-align: center;
    
}

header h1 {
    padding-top: 50px;
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    text-decoration: underline;
}



.line1 {
    text-align: justify;
    font-size: 30px;
    max-width: 300px;
    padding: 30px;
    text-indent: 20px;

}