* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    height: ;
}

header h1 {
    text-align: center;
}

header a {
    text-decoration: none;
    color: #fff;
    margin: auto;
}

header a:hover {
    text-decoration: underline;
}